@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex">
    <div style="display: block;">
        <h1 class="display-3">Hello, There!</h1>

        <h3 class="display-6">I'm Cain Atkinson and this is my site. I write programs, as well as other random stuff.</h3>
    </div>
    <div style="flex: 1"></div>

    <img src="https://gravatar.com/avatar/07c71710cff6bc1bd3ef089a2530cc82?s=1000&d=identicon" style="width: 120px; height: 120px; margin: 0.5rem;" />
</div>

<p>BTW, don't forget to use the sidebar to navigate around the most important pages!</p>

<h4>Featured Stuff</h4>
<div class="list-group">
	<a class="list-group-item" href="~/feature/canijailbreak">Can I Jailbreak? (visit on your phone)</a>
    <a class="list-group-item" href="~/article/jailbreak">Jailbraking Adventures... And Misadventures.</a>
	<a class="list-group-item" href="~/project/shortcuts">My iOS Siri Shortcuts.</a>
	<a class="list-group-item" href="~/article/usbboot">Adventures in booting Live Media.</a>
    <a class="list-group-item" href="~/feature/vectorgallery">Abstract Art</a>
    <a class="list-group-item" href="~/project/discordfonts">Discord Font Pack: A collection of fonts, some serious, some not so much, loaded with BetterDiscord.</a>
    <a class="list-group-item" href="https://cainssharptools.readthedocs.io/">My .NET Library: Cain's SharpTools</a>
    <a class="list-group-item" href="~/project/ytdlgui">A GUI for the youtube-dl.org Project: YTDL-GUI</a>
</div>

<h4>My Other Stuff</h4>
<div class="list-group">
    <a class="list-group-item" href="~/article/chromeos">My rant about Chrome OS</a>
    <a class="list-group-item" href="~/project/runplusplus">An open-source Run dialog replacement: Run++</a>
    <a class="list-group-item" href="~/project/sourcemapinstaller">A map installer for Source Engine games: SourceMapInstaller</a>
    <a class="list-group-item" href="~/article/python">Why i hate Python!!!</a>
    <a class="list-group-item" href="~/project/massmultiplier">A tool to multiply numbers in batch: Mass Multiplier</a>
    <a class="list-group-item" href="~/project/cspurge">A crappy CS:GO mod I made as a joke with my friends: Counter Strike Purge</a>
    <a class="list-group-item" href="~/project/sortingcs">Sorting Algorithms implemented in C#: Sorting C#</a>
    <a class="list-group-item" href="~/project/unitygames">Stuff I've made in Unity</a>
    <a class="list-group-item" href="~/project/fdp">A (very) buggy tool to convert between Fractions, Decimals, and Percentages</a>
    <a class="list-group-item" href="~/article/powerpoint">Cool stuff you can do in PowerPoint!</a>
</div>