/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Give List Groups some room, use !important because bootstrap won't override otherwise */
.list-group {
    margin-bottom: 1rem !important;
}

/* Justify Text */
p {
    text-align: justify;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-word;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}