<div class="top-row pl-4 navbar navbar-dark">
<a class="navbar-brand" href="">Cain Atkinson's Site</a>
<button class="navbar-toggler" @onclick="ToggleNavMenu">
<span class="navbar-toggler-icon"></span>
</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
<ul class="nav flex-column">
<li class="nav-item px-3">
<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
<span class="oi oi-home" aria-hidden="true"></span> Home
</NavLink>
</li>
<li class="nav-item px-3">
</li>
<li class="nav-item px-3">
<NavLink class="nav-link" href="dsgd-fonts" Match="NavLinkMatch.All">
<span class="oi oi-brush" aria-hidden="true"></span> Discord Font Pack
</NavLink>
</li>
<NavLink class="nav-link" href="toys" Match="NavLinkMatch.All">
<span class="oi oi-bolt" aria-hidden="true"></span> Webtoys
</NavLink>
</li>
<li class="nav-item px-3">
<NavLink class="nav-link" href="https://cainssharptools.readthedocs.io/" Match="NavLinkMatch.All">
<span class="oi oi-code" aria-hidden="true"></span> Cain's SharpTools
</NavLink>
</li>
<li class="nav-item px-3">
<NavLink class="nav-link" href="runplusplus" Match="NavLinkMatch.All">
<span class="oi oi-code" aria-hidden="true"></span> Run++
</NavLink>
</li>
<li class="nav-item px-3">
<NavLink class="nav-link" href="ytdl-gui" Match="NavLinkMatch.All">
<span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span> YTDL GUI
</NavLink>
</li>
<li class="nav-item px-3">
<NavLink class="nav-link" href="sourcemapinstaller" Match="NavLinkMatch.All">
<span class="oi oi-map" aria-hidden="true"></span> Source Map Installer
</NavLink>
</li>
<li class="nav-item px-3">
<NavLink class="nav-link" href="painofpython" Match="NavLinkMatch.All">
<span class="oi oi-fire" aria-hidden="true"></span> Why I Hate Python!
</NavLink>
</li>
<li class="nav-item px-3">
<NavLink class="nav-link" href="chromeos" Match="NavLinkMatch.All">
<span class="oi oi-fire" aria-hidden="true"></span> Chrome OS Rant
</NavLink>
</li>
<li class="nav-item px-3">
<NavLink class="nav-link" href="unity" Match="NavLinkMatch.All">
<span class="oi oi-code" aria-hidden="true"></span> Unity Stuff
</NavLink>
</li>
</ul>
</div>

@code {
private bool collapseNavMenu = true;

private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

private void ToggleNavMenu()
{
collapseNavMenu = !collapseNavMenu;
}
}