@{
	ViewData["Title"] = "Rhythm Games";
}

<h1 class="display-3">Rhythm Games</h1>
<h3 class="display-6">Accounts</h3>
<p>My accounts on rhythm games.</p>

<table class="table table-hover table-bordered" style="display: block">
	<tbody>
		<tr>
			<td>osu!</td>
			<td><a href="//osu.ppy.sh/u/Yellowsink">Yellowsink</a></td>
		</tr>
		<tr>
			<td>Quaver</td>
			<td><a href="//quavergame.com/user/91914">Yellowsink</a></td>
		</tr>
	</tbody>
</table>

<h3 class="display-6">Skins</h3>
<p>Skins for rhythm games I either use, or have made.</p>

<table class="table table-hover table-bordered" style="display: block">
	<tbody>
		<tr>
			<td>osu!</td>
			<td><a href="//github.com/cainy-a/Yelloskin-osu">Yelloskin</a></td>
		</tr>
		<tr>
			<td>Quaver</td>
			<td><a href="//steamcommunity.com/sharedfiles/filedetails/?id=2165630752">Midare (4K only)</a></td>
		</tr>
	</tbody>
</table>

<h3 class="display-6">Maps and Charts</h3>
<p>Maps, charts, etc. I have made for rhythm games.</p>

<table class="table table-hover table-bordered">
	<thead>
	<tr>
		<th>Song</th>
		<th>Artist</th>
		<th>Ranked</th>
		<th>Game Links</th>
		<th>Notes</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>My Love</td>
		<td>Kuba Oms</td>
		<td>
			Quaver: Pending
			osu!mania: Pending
		</td>
		<td>
			<a href="//quavergame.com/mapset/4435">Quaver</a>
			<br/>
			<a href="//osu.ppy.sh/beatmapsets/1328017">osu!mania</a>
		</td>
		<td>Mapped for Quaver, osu!mania version was made with a converter.</td>
	</tr>
	<tr>
		<td>MORE</td>
		<td>K/DA</td>
		<td>
			Quaver: Unranked
			osu!mania: WIP
		</td>
		<td>
			<a href="https://quavergame.com/mapset/4459">Quaver</a>
			<br />
			<a href="https://osu.ppy.sh/beatmapsets/1329050">osu!mania</a>
		</td>
		<td>Mapped for Quaver, osu!mania version was made with a converter.</td>
	</tr>
	</tbody>
</table>