@page "/chromeos"

<h1 class="display-3">Chrome OS Rant</h1>
<h3>Okay, Here goes.</h3>

<p>
So, there are 3 main groups of people that Chromebooks appeal to: people who want a laptop just for web browsing and trivial tasks, kids who have one because it’s cheap, and power users who fell for the ads. Now, I don’t like these ads. They are technically true, but they <em>imply</em> things that range from dubious to just untrue. Their 3 main claims are the battery life, the non-forced updates, and the built-in virus protection. 

<br/><br/>The battery life claim is somewhat true; yes, Chrome OS uses less than Windows, but Windows allows you to do more. Plus, remember that this is a large part since you’re buying a new laptop, with a new battery, which is a bit of an unfair advantage. 

<br/><br/>Second, the non-forced updates I kinda agree with. Because while Linux won’t update unless you tell it to, and MacOS only gives you a little notification, Windows does force the updates on you when you restart or shut down. Chrome OS does not do this, but goes down the MacOS path of a non-dismissible notification (though you can’t postpone it). 

<br/><br/>Finally, virus protection. This is (sorta) true, as while Chrome OS itself doesn’t really have any virus protection, beyond being stupidly hard to get unsandboxed software installed, the Android environment does have Play Protect, which will scream at you if you install a malicious app in Android. What annoys me about this is that is implies that competitors don’t. Linux usually doesn’t, sure, and MacOS is really just a check to make sure you wanna run an app, but Windows does have a fully-fledged antivirus, Windows Defender, which is the most lightweight antivirus for Windows, while working plenty well enough for the average user. 

<br/><br/>Ok, so Chrome OS itself then. My weapon of choice was the HP Chromebook 14 (specifically the one with the AMD x86_64 processor, which comes in handy for Linux stuff), which clocks in at the lower end, rather than being in the quite odd situation of the Pixelbook, a high-end laptop running Chrome OS. 

<br/><br/>First up: storage. My Chromebook comes with a 32GB SSD, but 16GB of that is taken by Chrome OS out of the box; fine for the lightweight user, not so much for people like me. Trying to use Crouton, or even the built in Crostini Containers (called Linux Beta by Google) eats up that storage quickly. 

<br/><br/>So, what about Linux? Well there are three main choices: Gallium OS, a complete replacement of Chrome OS, Crouton, which installs an entire virtual Linux complete with optional desktop environment, or Crostini, which is super easy to set up, integrates nicely with Chrome OS, and is officially supported. 

<br/><br/>Gallium OS is not compatible with my Chromebook, so that’s out of the question for me. 

<br/><br/>Crouton is quite a good choice, as you have a range of different distros and modular components to pick from, and, especially handy, lets you put your “<code>chroot</code>” on any partition formatted as ext4. It supports three methods of putting the screen in front of you. First, is taking over the whole screen and streaming X.org to it, so X11 can run with GPU acceleration. Second is <code>XIWI</code>, or <code>X In A Window</code>, which does not support a GPU, but integrates more nicely with Chrome OS. One note is that I found my right click just plain <em>didn’t work</em> with X.org, which could be a problem if you need the GPU acceleration provided by it. 

<br/><br/>Crostini is probably the simplest to use for the end user. When you install it, it gives you a “Terminal” app that allows you to access bash on either Debian 9 or 10, depending on what is set in <code>chrome://flags</code>. 

<br/><br/>The app icons appear in the launcher, and can be pinned to the shelf, and you can easily transfer things to your home directory through the Files app. Crostini does kind of support GPU acceleration, but I found it made UI apps unusable. So while it may be different for you, if you get weird colours in place of your UI, go to, again, <code>chrome://flags</code>, and find the Crostini GPU flag. 

<br/><br/>Both Crostini and Crouton both have active subreddits, at r/crouton and r/crostini, and if you have a problem you can always look at Crouton’s wiki page, on their GitHub, or post an issue. 

<br/><br/>To finish, what’s the overall experience like? Well, surprisingly okay for Joe Average. If you have a Chromebook with some decent storage space, give Crostini containers a go, as even if you don’t wanna develop stuff, you can run Linux apps such as LibreOffice, or even, through the Wine project, run Windows apps. For developers, Mono, .NET Core, Monodevelop, and IntelliJ IDEs seem to run perfectly, and while SmartGit is a bit buggy, it all works. Brackets also appears to run fine. 

<br/><br/>If your Chromebook doesn’t have so much space, and you are okay to deal with <em>not infrequent</em> corruptions, then try running crouton with an external <code>ext4</code> drive. 

<br/><br/>I actually wrote this on a Chromebook, using Office 365, and I think this is where the Chromebook comes into its element, as a device for doing everything and anything web based (except games, maybe). 

<br/><br/><br/>Ok so I know that was a bit of a monster read, but it’s over now. Enjoy the rest of your day, and <em>get a proper laptop</em>.
</p>