@page "/cspurge"

<h1 class="display-3">Counter-Strike: Purge</h1>

<h3 class="display-6">An FFA Mod for CS:GO</h3>
<p>
    This started as a joke between me and my friends and became this, uh, <em>thing</em>.
</p>

<h4>Get the mod!</h4>
<p href="http://github.com/cainy-a/CSPurge/releases"><a>Click here.</a></p>
<h4>Map List</h4>
<ul>
    <li>purge_rooftops,<br /> based on 
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=471826766">ffa_rooftops_V2</a> by
        <a href="https://steamcommunity.com/id/salkinxd">Salkin</a>.
    </li>
    <li>There are no other maps. There just aren't.</li>
</ul>