@page "/dsgd-fonts"


<h1>Discord Font Pack</h1>
<h3>A selection of fonts for BetterDiscord.</h3>
<h4>So how do I use it?</h4>
<ol>
    <li>
        So first, install BetterDiscord from here =>
        <a href="https://github.com/rauenzi/BetterDiscordApp/releases">github.com/rauenzi/BetterDiscordApp/releases</a>
    </li>
    <li>Then, download the Pack of Themes you want.</li>
    <li>
        Now, extract the zip and copy the <code>font.[font-name].theme.css</code> files to
        <code>%appdata%\BetterDiscord\themes\</code>.
    </li>
    <li>Finally, go to Discord's Settings => Themes => Enable the font you want to use.</li>
</ol>

<h4>Downloads!</h4>
<ul>
    <li><a target="_blank" href="discord_fonts/packs/full.zip" download="the_full_pack">The full pack</a></li>

    <li><a target="_blank" href="discord_fonts/packs/serious.zip" download="the_serious_pack">The serious pack</a></li>

    <li><a target="_blank" href="discord_fonts/packs/not-serious.zip" download="the_not_so_serious_pack">The not-so-serious pack</a></li>
</ul>

<h4>The Font List</h4>
<p>(Note that all fonts are in the full pack, so it isn't listed here.)</p>
<table class="table-striped table-bordered" style="width: 100%">
    <tr>
        <th>Font Name</th>
        <th>Individual Download</th>
        <th>Packs that have this font.</th>
    </tr>
    
    <tr>
        <td>Bauhaus 93</td>
        <td><a target="_blank" href="discord_fonts/font.bauhaus93.theme.css" download="">Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <td>Comic Sans</td>
        <td><a target="_blank" href="discord_fonts/font.comicsans.theme.css" download="">Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <td>Impact</td>
        <td><a target="_blank" href="discord_fonts/font.impact.theme.css" download="">Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <td>Jetbrains Mono</td>
        <td><a target="_blank" href="discord_fonts/font.jbmono.theme.css" download="">Download</a></td>
        <td>The serious pack</td>
    </tr>
    <tr>
        <td>Mojangles</td>
        <td><a target="_blank" href="discord_fonts/font.mojangles.theme.css" download="">Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <td>Papyrus</td>
        <td><a target="_blank" href="discord_fonts/font.papyrus.theme.css" download="">Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <td>Segoe UI Light</td>
        <td><a target="_blank" href="discord_fonts/font.segoe_ui_light.theme.css" download="">Download</a></td>
        <td>The serious pack</td>
    </tr>
    <tr>
        <td>Times New Roman</td>
        <td><a target="_blank" href="discord_fonts/font.times_new_roman.theme.css" download="">Download</a></td>
        <td>The serious pack</td>
    </tr>
    <tr>
        <td>Txt</td>
        <td><a target="_blank" href="discord_fonts/font.txt.theme.css" download="">Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <td>Wingdings</td>
        <td><a target="_blank" href="discord_fonts/font.wingdings.theme.css" download="">Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
</table>