@page "/dsgd-fonts"


<h1>Discord Font Pack</h1>
<h3>A selection of fonts for BetterDiscord.</h3>
<h4>So how do I use it?</h4>
<ol>
    <li>
        So first, install BetterDiscord from here =>
        <a href="https://github.com/rauenzi/BetterDiscordApp/releases">github.com/rauenzi/BetterDiscordApp/releases</a>
    </li>
    <li>Then, download the Pack of Themes you want.</li>
    <li>
        Now, extract the zip and copy the <code>font.[font-name].theme.css</code> files to
        <code>%appdata%\BetterDiscord\themes\</code>.
    </li>
    <li>Finally, go to Discord's Settings => Themes => Enable the font you want to use.</li>
</ol>

<h4>Downloads!</h4>
<ul>
    <li><a href="https://example.com">The full pack</a></li>

    <li><a href="https://example.com">The serious pack</a></li>

    <li><a href="https://example.com">The not-so-serious pack</a></li>

    <li><a href="https://example.com">The horribly-impractical pack</a></li>
</ul>

<h4>The Font List</h4>
<p>(Note that all fonts are in the full pack, so it isn't listed here.)</p>
<table class="table-striped table-bordered" style="width: 100%">
    <tr>
        <th>Font Name</th>
        <th>Individual Download</th>
        <th>Packs that have this font.</th>
    </tr>

    <tr>
        <td>Segoe UI Light</td>
        <td><a href="https://example.com">[placeholder]</a></td>
        <td>The serious pack</td>
    </tr>
</table>