@page "/fdp"

<h1 class="display-3">FDP</h1>
<h3 class="display-6">My little (very buggy) program to convert between Fractions, Decimals, and Percentages.</h3>
<h4>If ya really wanna try it, click <a href="https://github.com/cainy-a/FDP/releases">here</a>.</h4>