@page "/powerpoint"

<h1 class="display-3">PowerPoint Stuff</h1>
<h3>Stuff and things relating to Powerpoint</h3>
<p>
    This is my page for cool things that you can do in Microsoft Powerpoint.
    I have made all of these in Powerpoint 2019 unless stated otherwise.
</p>

<h4>Fractals!</h4>
<p>
    Fractals can be created in Powerpoint. In earlier versions of powerpoint this involved pasting a link of a
    slide into itself, then reppeatedly saving. Now, we can put a Slide Zoom of a slide onto itself, which gives
    the following benefits:
</p>
<ul>
    <li>It doesn't lag</li>
    <li>It recursively iterates automatically</li>
    <li>Best of all, in Slide Show mode, YOU CAN CLICK TO ZOOM IN ON THE FRACTALS!!!!!!</li>
</ul>

<h4>Download the presentations by clicking <a href="https://mega.nz/#F!inwx2Qhb!DRAlLXbfukrDacitJ0y2Ag">here</a></h4>

<h5><a href="https://youtu.be/g_oL_8E7pis">See a video of a Fractal Tree generating in Powerpoint</a></h5>