@page "/powerpoint"

<h1 class="display-3">PowerPoint Stuff</h1>
<h3>Stuff and things relating to Powerpoint</h3>
<p>
    This is my page for cool things in Microsoft Powerpoint.
</p>

<div class="accordion" id="powerpointAccordion">
    <div class="card">
        <div class="card-header" id="fractalsHeading">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary btn-block text-left" type="button" data-toggle="collapse" data-target="#fractalsCollapse" aria-expanded="true" aria-controls="fractalsCollapse">
                    Fractals
                </button>
            </h2>
        </div>
        
        <div id="fractalsCollapse" class="collapse show" aria-labelledby="fractalsHeading" data-parent="#powerpointAccordion">
            <div class="card-body">
                <p>
                    Fractals can be created in Powerpoint. In earlier versions of powerpoint this involved pasting a link of a
                    slide into itself, then repeatedly saving. Now, we can put a Slide Zoom of a slide onto itself, which gives
                    the following benefits:
                </p>
                <ul>
                    <li>It doesn't lag</li>
                    <li>It recursively iterates automatically</li>
                    <li>Best of all, in Slide Show mode, YOU CAN CLICK TO ZOOM IN ON THE FRACTALS!!!!!!</li>
                </ul>
                <a href="https://mega.nz/#F!inwx2Qhb!DRAlLXbfukrDacitJ0y2Ag">Download the presentations</a>
                <br/>
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/g_oL_8E7pis" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="card-header" id="turingHeading">
            <h2 class="mb-0">
                <button class="btn btn-outline-primary btn-block text-left" type="button" data-toggle="collapse" data-target="#turingCollapse" aria-expanded="true" aria-controls="turingCollapse">
                    Turing Machines
                </button>
            </h2>
        </div>
        
        <div id="turingCollapse" class="collapse" aria-labelledby="turingHeading" data-parent="#powerpointAccordion">
            <div class="card-body">
                <p>This is not my video BTW, this is Tom Wildenhain's video. I just think it's awesome!</p>
                <br/>
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sdkxWqsk17c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>