@page "/runplusplus"

<h1 class="display-1">Run++</h1>

<h3>An open source Run dialog replacement</h3>

<p>
    Run++ is an open source replacement for the Windows run dialog. It is in <b>very VERY</b> early development, but many basic things work.
</p>

<h4>You can:</h4>
<ul>
    <li>Run files, either with the button, or by pressing Enter.</li>
    <li>Run files as an Administrator, either with the button, or by pressing Ctrl+Shift+Enter</li>
    <li>Use the Browse button to easily locate files.</li>
</ul>

<h4>You can't:</h4>
<ul>
    <li><b>Run stuff from PATH</b> (this means no "<code>cmd.exe</code>", you have to type "<code>C:\Windows\System32\cmd.exe</code>"</li>
    <li>Run as another user</li>
    <li>Make this replace the default dialog on <code>Win+R</code></li>
</ul>

<h4>Download</h4>
<p>
    I do <b>NOT</b> recommend using this over the Win+R dialog (at least for now!!!), but if you want to try it, head over to the releases by clicking <a href="https://github.com/cainy-a/RunPlusPlus/releases">here</a>.
</p>