@page "/sortingcs"

<h1 class="display-3">Sorting C#</h1>
<h3 class="display-6">Some simple C# sorting algorithms.</h3>

<h4>Download by clicking <a href="https://github.com/cainy-a/bubble-sort/releases">here</a></h4>

<h4>Algorithms</h4>
<h5>Completed</h5>
<ul>
    <li>Bubble Sort (2nd Revision)</li>
    <li>Selection Sort</li>
    <li>Counting Sort (2nd Revision)</li>
</ul>

<h5>Things that I might do, but probably won't</h5>
<ul>
    <li>Rewrite logic for Selection Sort to be more efficient.</li>
</ul>