@page "/sourcemapinstaller"

<h1 class="display-1">Source Map Installer</h1>

<h3>A map installer for Source Engine Games</h3>

<p>
    This basically is just an easier way to copy a .BSP to the maps directory.
</p>

<p>
    Note that this tool is for use with <b>Steam</b> version of games,
    but feel free to fork the repo <a href="https://github.com/cainy-a/SourceMapInstaller">here</a>,
    and change the paths to make it compatible with retail installs.
</p>

<h4>Download it by clicking <a href="https://github.com/cainy-a/SourceMapInstaller/releases">here</a></h4>