@page "/unity"

<h1 class="display-3">Unity Stuff</h1>
<h3>All the stuff I made in Unity</h3>
<p>
    This page is a portal to access my stuff built in unity.<br />
    You can access it all on <a href="https://yellowsink.itch.io/">itch.io</a>
</p>

<h4>Projects:</h4>
<p>Click to play or download them</p>
<ul>
    <li><a href="https://yellowsink.itch.io/space-shooter">Space Shooter</a></li>
    <li><a href="https://yellowsink.itch.io/survival-shooter">Survival Shooter</a></li>
    <li><a href="https://yellowsink.itch.io/boids-test-2d">Boids Test 2D</a></li>
</ul>