@page "/toys"

<h1 class="display-1">Cain's Webtoys!</h1>
<h3>A bunch of "<em>Webtoys</em>" I built.</h3>
<ul>
	<li><a href="toys/doublenothing">Double or Nothing</a></li>
	<li><a href="toys/calc">Calculator</a></li>
</ul>

<p>I'll make more soon (I pinky-promise!)</p>