@page "/toys"

<h1 class="display-3">Cain's Webtoys!</h1>
<h3 class="display-6">A bunch of "<em>Webtoys</em>" I built.</h3>
<div class="list-group">
	<a class="list-group-item" href="toys/doublenothing">Double or Nothing</a>
	<a class="list-group-item" href="toys/calc">Calculator</a>
    <a class="list-group-item" href="toys/flex">Flexbox Designer</a>
</div>

<p>I'll make more soon (I pinky-promise!)</p>
