@page "/toys"

<h1>Cain's Webtoys!</h1>
<h3>A bunch of "<em>Webtoys</em>" I built.</h3>
<ul>
	<li><a href="doublenothing">Double or Nothing</a></li>
</ul>

<p>I'll make more soon (I pinky-promise!)</p>