@{
	ViewData["Title"] = "C# / .NET";
}

<h1 class="display-3">C# / .NET stuff</h1>

<div class="list-group">
	<a class="list-group-item" href="~/Csharp/Operators">Operators</a>
	<a class="list-group-item" href="~/Csharp/PGP">PGP Decryption</a>
</div>