@page "/"

<h1 class="display-3">Hello, There!</h1>

<h3 class="display-6">I'm Cain Atkinson and this is my site. I write programs, as well as other random stuff.</h3>
<p>BTW, don't forget to use the sidebar to navigate around the most important pages!</p>

<h4>Featured Stuff</h4>
<div class="list-group list-group-flush">
	<a class="list-group-item" href="dsgd-fonts">Discord Font Pack: A collection of fonts, some serious, some not so much, loaded with BetterDiscord.</a>
	<a class="list-group-item" href="toys">Webtoys: a bunch of random interactive <em>things</em> that you can play with right in your browser.</a>
	<a class="list-group-item" href="chromeos">My rant about Chrome OS</a>
	<a class="list-group-item" href="https://cainssharptools.readthedocs.io/">My .NET Library: Cain's SharpTools</a>
	<a class="list-group-item" href="runplusplus">An open-source Run dialog replacement: Run++</a>
	<a class="list-group-item" href="ytdl-gui">A GUI for the youtube-dl.org Project: YTDL-GUI</a>
	<a class="list-group-item" href="sourcemapinstaller">A map installer for Source Engine games: SourceMapInstaller</a>
	<a class="list-group-item" href="painofpython">Why i hate Python!!!</a>
</div>

<h4>My Other Stuff</h4>
<div class="list-group list-group-flush">
    <a class="list-group-item" href="massmultiplier">A tool to multiply numbers in batch: Mass Multiplier</a>
    <a class="list-group-item" href="cspurge">A crappy CS:GO mod I made as a joke with my friends: Counter Strike Purge</a>
    <a class="list-group-item" href="sortingcs">Sorting Algorithms implemented in C#: Sorting C#</a>
    <a class="list-group-item" href="unity">Stuff I've made in Unity</a>
    <a class="list-group-item" href="fdp">A (very) buggy tool to convert between Fractions, Decimals, and Percentages</a>
    <a class="list-group-item" href="powerpoint">Cool stuff you can do in PowerPoint!</a>
</div>