@page "/"

<h1>Hello, There!</h1>

<h3>I'm Cain Atkinson and this is my site. I write programs, as well as other random stuff.</h3>
<p>BTW, don't forget to use the sidebar to navigate around the most important pages!</p>

<h4>Featured Stuff</h4>
<ul>
    <li><a href="https://cainssharptools.readthedocs.io/">My .NET Library: Cain's SharpTools</a></li>
    <li><a href="runplusplus">An open-source Run dialog replacement: Run++</a></li>
    <li><a href="ytdl-gui">A GUI for the youtube-dl.org Project: YTDL-GUI</a></li>
    <li><a href="sourcemapinstaller">A map installer for Source Engine games: SourceMapInstaller</a></li>
    <li><a href="painofpython">Why i hate Python!!!</a></li>
</ul>

<h4>My Other Stuff</h4>
<ul>
    <li><a href="massmultiplier">A tool to multiply numbers in batch: Mass Multiplier</a></li>
    <li><a href="cspurge">A crappy CS:GO mod I made as a joke with my friends: Counter Strike Purge</a></li>
    <li><a href="sortingcs">Sorting Algorithms implemented in C#: Sorting C#</a></li>
    <li><a href="unity">Stuff I've made in Unity</a></li>
    <li><a href="fdp">A (very) buggy tool to convert between Fractions, Decimals, and Percentages</a></li>
    <li><a href="powerpoint">Cool stuff you can do in PowerPoint!</a></li>
</ul>