@{
	ViewData["Title"] = "The Cult of Finald";
}

<h1 class="display-3">The Cult of Finald</h1>
<p>
	Site under construction, stay tuned.
</p>

@* Apply Classes *@
<script>
	$(function() {
		var nav = $("nav");
		nav.addClass("navbar-dark");
		nav.removeClass("navbar-light");
		nav.removeClass("bg-white");

		var navLinks = $("a.nav-link.text-dark")
		navLinks.removeClass("text-dark");
		navLinks.addClass("text-light");
		
	});
</script>
@* Static Styles *@
<style>
	body {
		background-color: black;
		color: white;
	}
</style>