@{
	ViewData["Title"] = "Finald";
}

<img src="finald.jpg" style="width: 100%"/>
<div class="btn-group" style="display: flex; margin: 1rem">
	<a asp-action="About" class="btn btn-outline-primary">About</a>
	<a asp-action="Cult" class="btn btn-outline-dark">The Cult of Finald</a>
</div>