@{
    ViewData["Title"] = "Anilist4NET";
}

<h1 class="display-3">
    Anilist4NET
    <vc:gh url="//github.com/cainy-a/Anilist4Net" />
</h1>
<h3 class="display-6">Finally! An Anilist API lib for .NET that doesn't suck!</h3>

<p>
    Anilist4NET is an easy to use API library for <a href="//anilist.co">Anilist</a>.
    To get started, download it from NuGet: <code>dotnet add package Anilist4Net</code>
</p>

<h5>Basic usage</h5>
<p>
    Let's get an anime from it's Anilist ID:
    <pre><code class="language-csharp" lang="csharp" style="font-family: 'Jetbrains Mono', monospace">using System;
using Anilist4Net;
var client = new Client();
var anime = await client.GetMediaById(1);
Console.WriteLine($"Name: {anime.EnglishTitle}"); // Cowboy Bebop
Console.WriteLine($"Episodes: {anime.Episodes}"); // 26 episodes
</code></pre>
    
    Cool! How about finding an anime more loosely, say just from it's name?
    <pre><code class="language-csharp" lang="csharp" style="font-family: 'Jetbrains Mono', monospace">using System;
using Anilist4Net;
var client = new Client();
var anime = await client.GetMediaBySearch("カウボーイビバップ");
Console.WriteLine($"ID: {anime.Id}");           // 1
Console.WriteLine($"Year: {anime.SeasonYear}"); // 1998
</code></pre>
    
    You could also get an anime by it's ID on MyAnimeList, like this:
    <pre><code class="language-csharp" lang="csharp" style="font-family: 'Jetbrains Mono', monospace">using System;
using Anilist4Net;
var client = new Client();
var anime = await client.GetMediaByMalId(21);
Console.WriteLine($"Name: {anime.EnglishTitle}"); // One Piece
Console.WriteLine($"Anilist ID: {anime.Id}");     // 21 (same as MAL but ok)
</code></pre>
</p>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/monokai-sublime.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>