@{
    ViewData["Title"] = "Discord Fonts";
}

<h1 class="display-3">Discord Font Pack</h1>
<h3 class="display-6">A selection of fonts for BetterDiscord.</h3>
<h4>So how do I use it?</h4>
<ol>
    <li>
        So first, install BetterDiscord from here =>
        <a href="https://github.com/rauenzi/BetterDiscordApp/releases">GitHub</a>
    </li>
    <li>Then, download the Pack of Themes you want.</li>
    <li>
        Now, extract the zip and copy the <code>font.[font-name].theme.css</code> files to
        <code>%appdata%\BetterDiscord\themes\</code>.
    </li>
    <li>Finally, go to Discord's Settings => Themes => Enable the font you want to use.</li>
</ol>

<h4>Downloads!</h4>
<ul>
    <li><a target="_blank" href="~/discord_fonts/packs/full.zip" download="the_full_pack.zip">The full pack</a></li>

    <li><a target="_blank" href="~/discord_fonts/packs/serious.zip" download="the_serious_pack.zip">The serious pack</a></li>

    <li><a target="_blank" href="~/discord_fonts/packs/not-serious.zip" download="the_not_so_serious_pack.zip">The not-so-serious pack</a></li>
    <li><a target="_blank" href="~/discord_fonts/packs/code.zip" download="the_code_pack.zip">The Code Pack - these affect code blocks, not the UI and message text.</a></li>
</ul>

<h4>The Font List</h4>
<p>(Note that all fonts are in the full pack, so it isn't listed here.)</p>
<table class="table table-sm table-hover table-striped" style="width: 100%">
    <thead>
        <tr class="table-info">
            <th>Font Name</th>
            <th>Individual Download</th>
            <th>Packs that have this font.</th>
        </tr>
    </thead>

    <tr>
        <th>Bauhaus 93</th>
        <td><a target="_blank" href="~/discord_fonts/font.bauhaus93.theme.css" download>Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <th>Cascadia Code</th>
        <td><a target="_blank" href="~/discord_fonts/font.cascadia_code(code).theme.css" download>Download</a></td>
        <td>The serious pack, The code pack</td>
    </tr>
    <tr>
        <th>Comic Sans</th>
        <td><a target="_blank" href="~/discord_fonts/font.comicsans.theme.css" download>Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <th>Dank Mono</th>
        <td><a target="_blank" href="~/discord_fonts/font.dank_mono(code).theme.css" download>Download</a></td>
        <td>The not-so-serious pack, The code pack</td>
    </tr>
    <tr>
        <th>Impact</th>
        <td><a target="_blank" href="~/discord_fonts/font.impact.theme.css" download>Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <th>Jetbrains Mono</th>
        <td><a target="_blank" href="~/discord_fonts/font.jbmono(code).theme.css" download>Download</a></td>
        <td>The serious pack, The code pack</td>
    </tr>
    <tr>
        <th>Mojangles</th>
        <td><a target="_blank" href="~/discord_fonts/font.mojangles.theme.css" download>Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <th>Papyrus</th>
        <td><a target="_blank" href="~/discord_fonts/font.papyrus.theme.css" download>Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <th>Segoe UI</th>
        <td><a target="_blank" href="~/discord_fonts/font.segoe_ui.theme.css" download>Download</a></td>
        <td>The serious pack</td>
    </tr>
    <tr>
        <th>Segoe UI Light</th>
        <td><a target="_blank" href="~/discord_fonts/font.segoe_ui_light.theme.css" download>Download</a></td>
        <td>The serious pack</td>
    </tr>
	<tr>
        <th>San Francisco Pro</th>
        <td><a target="_blank" href="~/discord_fonts/font.sf_pro.theme.css" download>Download</a></td>
        <td>The serious pack</td>
    </tr>
	<tr>
        <th>San Francisco Mono</th>
        <td><a target="_blank" href="~/discord_fonts/font.sf_mono(code).theme.css" download>Download</a></td>
        <td>The serious pack, The code pack</td>
    </tr>
    <tr>
        <th>Times New Roman</th>
        <td><a target="_blank" href="~/discord_fonts/font.times_new_roman.theme.css" download>Download</a></td>
        <td>The serious pack</td>
    </tr>
    <tr>
        <th>Txt</th>
        <td><a target="_blank" href="~/discord_fonts/font.txt.theme.css" download>Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
    <tr>
        <th>Wingdings</th>
        <td><a target="_blank" href="~/discord_fonts/font.wingdings.theme.css" download>Download</a></td>
        <td>The not-so-serious pack</td>
    </tr>
</table>