@{
    ViewData["Title"] = "FDP";
}

<h1 class="display-3">FDP</h1>
<h3 class="display-6">My little (very buggy) program to convert between Fractions, Decimals, and Percentages.</h3>
<h4>To try it, click <a href="https://github.com/cainy-a/FDP/releases">here</a> (Although I'm pretty sure it doesn't work).</h4>