@{
    ViewData["Title"] = "Mass Multiplier";
}

<h1 class="display-3">Mass Multiplier</h1>
<h3 class="display-6">A tool to quickly, easily multiply lots of numbers</h3>

<h4>Usage</h4>
<p>
    Feed it a text file with the following format (note the <code>x</code>s can be changed to <code>*</code>s):
    <br />
    <code>
        6x4<br />
        4x8<br />
        3x9<br />
    </code>
    and it will multiply them all.
</p>

<h4>Command Line Usage</h4>
<p><code>MassMultiplierCLI.exe &lt;path to sums> &lt;path to save | leave blank to not save></code></p>
<h4>Download by clicking <a href="https://github.com/cainy-a/MassMultiplier/releases">here</a></h4>