@{
    ViewData["Title"] = "Reggie";
}

<h1 class="display-3">
    Reggie
    <vc:gh url="//github.com/cainy-a/reggie" />
</h1>
<h3 class="display-6">sed alternative - Painless regex replace from the CLI</h3>

<h5>This screenshot should explain all you need to know</h5>
<img alt="image"
     src="//raw.githubusercontent.com/cainy-a/reggie/master/screenshot.png"
     style="width: 100%" />
<h5>Example</h5>
<p>
    Patch usrbg for Vizality (based on my previous script <a href="//gist.github.com/cainy-a/f29ed1dc9e1b348d4f2436fa18e95db9">here</a>)
    (this was tested with fish, <code>\n</code> may work differently in other shells)
    <pre><code class="language-shell" lang="shell" style="font-family: 'Jetbrains Mono', monospace">reggie usrbg.css '\\[data-user-id="(.{17,18})"\\]:not\\(img\\)' '$&,'\n'[vz-user-id="$1"]:not(img)' patched.css
mv patched.css usrbg.css
</code></pre>
</p>

<h5>I don't want replace, I want find!!!</h5>
<p>
    For a great alternative to <code>grep</code>, look at ripgrep by BurntSushi on GitHub
    <vc:gh url="//github.com/BurntSushi/ripgrep" />
</p>

<h5>Install it</h5>
<p>
    Arch Linux with <code>yay</code>:
    <pre><code class="language-shell" lang="shell" style="font-family: 'Jetbrains Mono', monospace">yay -S reggie-git
</code></pre>
</p>
<p>
    Arch Linux:
    <pre><code class="language-shell" lang="shell" style="font-family: 'Jetbrains Mono', monospace">wget "https://aur.archlinux.org/cgit/aur.git/snapshot/reggie-git.tar.gz"
tar -xzf reggie-git.tar.gz
cd reggie-git
makepkg -si
</code></pre>
</p>
<p>
    Any Linux:
    <pre><code class="language-shell" lang="shell" style="font-family: 'Jetbrains Mono', monospace">wget "https://github.com/cainy-a/reggie/archive/refs/heads/master.tar.gz"
tar -xzf master.tar.gz
cd reggie-master
dotnet build
# sudo is used here, doas or just running as root will also work.
sudo mv Reggie/bin/Debug/net5.0/ /usr/lib/reggie/
sudo ln /usr/lib/reggie/Reggie /usr/bin/reggie
</code></pre>
</p>


<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/monokai-sublime.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>