@{
    ViewData["Title"] = "Shortcuts";
}

<h1 class="display-3">Siri Shortcuts</h1>

<h3 class="display-6">My little iOS programs for Siri Shortcuts</h3>

<ul class="list-group">
	<li class="list-group-item">
		<a href="//www.icloud.com/shortcuts/26f4da45a03747e096a1e5ab08c07217" target="_blank">Dictionary Store</a>: Store values in either <a href="//datajar.app/" target="_blank">DataJar</a>, or just in iCloud Drive.
	</li>
	<li class="list-group-item">
		<a href="//www.icloud.com/shortcuts/2cd923897c1f44729505ef80d888ebae" target="_blank">Make Link Tiny</a>: Use TinyUrl.com from the Share Sheet.
	</li>
</ul>

Make sure to <a href="//www.macworld.com/article/3447279/how-to-allow-untrusted-shortcuts-in-ios-13.html" target="_blank">enable untrusted shortcuts</a>.

<h4>Shoutouts!:</h4>
<p><strong>People who make really cool automation stuff.</strong></p>

<p><a href="//twitter.com/simonbs" target="_blank">&#64;simonbs</a>, for making <a href="//datajar.app/" target="_blank">DataJar</a>. (also <a href="//scriptable.app/" target="_blank">Scriptable</a> and <a href="//jayson.app/" target="_blank">Jayson</a>)</p>

<p><a href="//omz-software.com/" target="_blank">OMZ Software</a>, for making <a href="//omz-software.com/pythonista/" target="_blank">Pythonista</a> and <a href="//omz-software.com/editorial/" target="_blank">Editorial</a></p>

<p><a href="//pushcut.io">Pushcut</a>, because Pushcut is cool.</p>

<p>And finally... <a href="//www.workflow.is/" target="_blank">Workflow by DeskConnect</a>. The original (very cool) automation app for iOS. It has now become Siri Shortcuts.</p>