@{
    ViewData["Title"] = "YTDL-GUI";
}

<h1 class="display-3">YTDL GUI</h1>

<h3 class="display-6">A GUI Frontend for the <a href="https://youtube-dl.org">Youtube-DL project</a></h3>

<p>Enough said.</p>

<h4>Click <a href="https://github.com/cainy-a/Ytdl-Gui/releases">here</a> to download it.</h4>
<h4>Click <a href="http://ytdl-org.github.io/youtube-dl/supportedsites.html">here</a> to see the list of supported sites.</h4>