@page "/toys/flex"

<h1 class="display-3">Cain's Webtoys!</h1>
<h2>Flexbox Designer</h2>
<p class="lead">Hey, this thing is WIP at the moment</p>

<h4>Designer</h4>

<h4>Preview</h4>

<h4>Generated Output</h4>
<code>

</code>