@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Calculator";
}

<body>
    <app>
        <component type="typeof(PersonalWebsite.Components.DoubleOrNothing)" render-mode="ServerPrerendered" />
    </app>
</body>