@{
    ViewData["Title"] = "Webtoys";
}

<h1 class="display-3">Cain's Webtoys!</h1>
<h3 class="display-6">A bunch of "<em>Webtoys</em>" I built.
</h3>
<div class="list-group">
    <a class="list-group-item" href="~/toy/doubleornothing">Double or Nothing</a>
    <a class="list-group-item" href="~/toy/calculator">Calculator</a>
</div>

<p>I'll make more soon (I pinky-promise!)</p>